
<%- include('partials/head') %>

    <% console.log(posts) %>
    <h1>Olen surffailemassa <%= nimi %> sivulla</h1>
    <h3> <%= kuvaus %> </h3>
    <p> <%= harrastajia %> Yhteensä harrastajaa</p>
    <hr>
    <% for(let post of posts) { %>
        <h5> <%= post.otsikko %> - <b> <%= post.kirjoittaja %> </b>  </h5>
        <% if(post.kuva) { %>
            <img src="<%= post.kuva %> " width="600px" alt="">
        <% } %>
    <% } %>
  </div>
  <%- include(partials/footer) %>